.container{
	display: table;
}

.columna{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.fila{
	display: table-row;
	height: 130px;
	text-align: center;
}

#contenedor {
  width: 7100px;
}
#cabecera {
}
#menu {
  float: left;
  width: 700px;
}
#contenido {
  float: left;
  width: 600px;
}

#nuevo {
	text-align: center;
}

#lista {
	text-align: center;
}

#datosCaso {
	width: 400px;
	margin: 0 auto;
}

#botones{
	padding-top: 30px;
	padding-left: 50px;
}
header{
	background-color: #222;
	height:60px;
}